<div class="form-row">
    <div class="form-group col-md-4">
        <select class="form-control" name="anotherform" id="anotherform" asp-items="ViewBag.forms">
            <option value="0">انتخاب</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <select class="form-control" name="type" id="type">
            <option value="-1">انتخاب</option>
            <option value="0">یک به یک</option>
            <option value="1">یک به چند</option>
        </select>
    </div>
    <div class="form-group col-md-4" >
        <input type="text" class="form-control" name="title" id="title" placeholder="عنوان">
    </div>
</div>
